@model List<JobFinder.WebApp.ViewModels.JobOffer.JobOfferListVM>

<h2>Job Offers</h2>

@if (!Model.Any())
{
    <p>Nema dostupnih oglasa.</p>
}
else
{
    <table style="width:100%; border-collapse:collapse; margin-top:20px;">
        <thead>
            <tr>
                <th style="text-align:left;">Naziv</th>
                <th>Firma</th>
                <th>Lokacija</th>
                <th>Tip</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var job in Model)
        {
            <tr style="border-bottom:1px solid #ddd;">
                <td>@job.Title</td>
                <td>@job.FirmName</td>
                <td>@job.LocationName</td>
                <td>@job.JobName</td>
                <td>
                    <a href="/JobOffer/Details/@job.IDJobOffer">Details</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
